.text {
  position: relative;
  font-family: "나눔고딕", sans-serif;
}
.main_text {
  font-size: 25px;
  font-weight: bold;
  color: black;
  top: 40px;
  left: -70px;
}
.support_text {
  font-size: 15px;
  font-weight: bold;
  color: rgb(136, 136, 136);
  top: 30px;
  left: -50px;
}
